  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="addModalLabel">Adicione um cliente!</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'adicionar-cliente' %}" novalidate>
                {% csrf_token %} 
                {% for field in form %}
                <div class="form-field">
                  {{ field.label_tag }} 
                  {{ field }} 
                  {% if field.errors %}
                    <p class="error-message">{{ field.errors.as_text }}</p>
                  {% endif %}
                </div>
                {% endfor %}
                <div class="customer-button-modal">
                  <button class="botao-voltar-customer" data-bs-dismiss="modal">
                    Voltar
                  </button>
                  <button type="submit" class="add-customer-button">Adicionar</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>