<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <title>Alterar senha - Ajudai</title>
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/change_password.css' %}" />
    </head>
    <body>
      <div class="container">
        <div class="card">
          <img class="lock-icon" src="{% static 'image/reset-password.png' %}" alt="reset password">
  
            <h1>Altere sua senha!</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="botoes">
                <button type="submit">{{ submit_change_passwird_text }}</button>
                <div id="menu">
                  <nav>
                    <ul>
                      {% if user and user.username %}
                        <a class="logado" href="{% url 'user_accounts' %}">{{ user.username }}, voltar?</a><br>
                      {% else %}
                        <a class="botao-login" href="{% url 'login' %}">Log In</a><br>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
              </div>
            </form>

        </div>
      </div>
    </body>
</html> 