<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ tab_title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/chatbot_edit.css' %}" />
</head>
<body>
    <div id="menu">
        <nav>
          <ul>
            {% if user and user.username %}
              <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
            {% else %}
              <a href="{% url 'login' %}">Log In</a><br>
            {% endif %}
          </ul>
        </nav>
      </div>

    <h1>{{ page_title }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ submit_edit_chatbot_text }}</button>
    </form>
    <br><br>
    <form method="post" action="{% url 'chatbot_delete' chatbot.id %}">
        {% csrf_token %}
        <button type="submit">{{ delete_edit_chatbot_text }}</button>
    </form>

</body>
</html>