<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ tab_title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/chatbot_delete_confirm.css' %}" />
</head>
<body>
    <h1>{{ page_title }}</h1>
    <p>{{ mensagem_aviso_confirmacao_deletar_pt_1 }} "{{ chatbot.nome_do_chatbot }}"? {{ mensagem_aviso_confirmacao_deletar_pt_2 }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">{{ submit_delete_chatbot_text }}</button>
    </form>

    <a href="{% url 'chatbot_edit' chatbot.id %}">Cancel</a>
</body>
</html>