<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ tab_title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/email_sent.css' %}" />
    </head>
    <body>
        <div id="menu">
            <nav>
              <ul>
                {% if user and user.username %}
                  <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                {% else %}
                  <a href="{% url 'login' %}">Log In</a><br>
                {% endif %}
              </ul>
            </nav>
          </div>
          
        <h3>{{ message }}</h3>
        <p>{{ observation }}</p>
        
    </body>
</html>
