<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ tab_title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/lista_conversas.css' %}" />
    </head>
    <body>
        <div id="menu">
            <nav>
              <ul>
                {% if user and user.username %}
                  <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                {% else %}
                  <a href="{% url 'login' %}">Log In</a><br>
                {% endif %}
              </ul>
            </nav>
        </div>

        <h2>{{ conversas_list_title }}</h2>
        <ul>
          {% for conversa in conversas %}
            <li><a href="{% url 'chat_online' conversa.id %}">{{ conversa }}</a></li>
          {% empty %}
            <li>{{ no_conversas_text }}</li>
          {% endfor %}
        </ul>

    </body>
</html>