<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <title>Login - Ajudai</title>
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/login.css' %}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Stylesheet-->
    </head>
    <body>
      
      <div class="title-login-mobile">
        <h1 style="color: #FFFFFF; text-align:center;">Olá!</h1>
        <h4 style="color: #FFFFFF; margin: 0;">Seja bem-vindo!</h4>
      </div>
      <div class="container-mobile">
        <div class="form-mobile">
          <div class="inputs-mobile">
            {{ login_form.as_p }}
          </div>
          <input class="botao-mobile" type="submit" value="{{ submit_login_text }}">
          {% if error_message %}
            <p class="erro-msg">{{ error_message }}</p>
          {% endif %}
          <p class="forget"><a class="forget-link" href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
          <div class="divider-mobile">
            <div class="line"></div>
            <div class="text">OU</div>
            <div class="line"></div>
        </div>
        <a class="botao-registrar" href="{% url 'register' %}">crie uma conta Ajudai!</a>
        </div>
        <div>
        </div>
      </div>
      <div class="logo-mobile">
        <img class="logo-mobile" src="{% static 'image/logo-ajudai.svg' %}" alt="Logotigo ajudai">
        <div class="links-privacidade">
          <a href="https://ajudai.io/politica-de-privacidade/">Política de privacidade</a>
          <a style="margin: 0 10px;">-</a>
          <a href="https://ajudai.io/contato/">  Contato</a>
        </div>
      </div>


        <div class="container" id="container">
          <div class="form-container sign-in-container">
              <form method="post" action="{% url 'login' %}">
                <div id="menu">
                  <nav>
                    <ul>
                      {% if user and user.username %}
                        <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                      {% else %}
                        <h1 class="titulo-login" href="{% url 'login' %}">Log In</h1><br>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                {% csrf_token %}
                <div class="inputs">
                  {{ login_form.as_p }}
                </div>
                <p class="forget"><a class="forget-link" href="{% url 'password_reset' %}">{{ forgot_password_text }}</a></p>
                <input class="botao" type="submit" value="{{ submit_login_text }}">
                {% if error_message %}
                  <p class="erro-msg">{{ error_message }}</p>
                {% endif %}
                
              </form>
          </div>
        
          <div class="overlay-container">
            <div class="overlay">
              <div class="overlay-panel overlay-right">
                <img class="logo" src="{% static 'image/logo-ajudai.svg' %}" alt="Logotigo ajudai">
                <p class="conteudo-texto">Ainda nao possui uma conta? Deixe a gente <strong>Ajudar</strong> você!</p>
                <a class="botao-registrar" href="{% url 'register' %}">{{ LINK_TO_REGISTER_TEXT }}</a>
              </div>
            </div>
          </div>
        
        </div>

    </body>
</html>