<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ tab_title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/login.css' %}" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Stylesheet-->
    </head>
    <body>
      <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
      </div>
        <form class="conteudo-menu">
          <div id="menu">
              <nav>
                <div class="div-logo">
                  <img class="logo" src="{% static 'images/logo-ajudai.png' %}" alt="Logotipo Ajudai">
                </div>
                <ul class="ul-texto">
                  {% if user and user.username %}
                    <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                  {% else %}
                    <a class="titulo-login" href="{% url 'login' %}">Log In</a><br>
                  {% endif %}
                </ul>
              </nav>
            </div>
            
          <form method="post" action="{% url 'login' %}" class="text-form">
              {% csrf_token %}
              <div class="inputs">
                {{ login_form.as_p }}
              </div>
              <input type="submit" class="botao" value="{{ submit_login_text }}">
              {% if error_message %}
                  <p>{{ error_message }}</p>
              {% endif %}
              <div class="adicional">
                <p class="esqueci-senha"><a href="{% url 'password_reset' %}">{{ forgot_password_text }}</a></p>
                <!-- <a class="register">{{ LINK_TO_REGISTER_TEXT }}</a> -->
                <p class="register">{{ LINK_TO_REGISTER_TEXT }}</p>
                <a class="botao-registrar" href="{% url 'register' %}" >{{ BUTTON_REGISTER }}</a>
              </div>
            </form>
        </form>
    </body>
</html>