<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ tab_title }}</title>
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/dashboard-style.css' %}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    </head>
    <body>
        {% include 'includes/topMenu.html' %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {% include 'includes/sidebar.html' %}
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="cabecalho-planos">
                            <div class="cabecalho-texto">
                                <h2>Clientes cadastrados de {{ user.username }}</h2>
                                <h4>Fique por dentro das informações dos seus clientes cadastrados</h4>
                                <p>Adicione, edite ou remova as informações dos seus clientes. Esses clientes também serão a lista de contatos do seu estabelecimento</p>
                                <div class="card-total-clientes">
                                    <p style="color: #FFF; margin: 10px; padding-top: 10px">Total de Clientes: </p>
                                    <div class="total-clientes">
                                        <p style="margin: 0;">{{ numero_de_clientes }}</p>
                                    </div>
                                </div>
                            </div>
                            <img
                            class="doodle-plans"
                            src="{% static 'image/meus-clientes-ajudai-doodle.svg' %}"
                            alt="meus-clientes-ilustracao-ajudai"
                            />
                        </div>
                        <div class="divider"></div>
                        <p style="margin: 0">Adicione novos clientes para a <strong>lista de contatos</strong> do seu estabelecimento.</p>
                        <button class="botao-adicionar-cliente" data-bs-toggle="modal" data-bs-target="#addModal">
                            Adicionar Cliente<i class="fas fa-plus" style="margin-left: 5px;"></i>
                        </button>

                        {% include 'adicionar-cliente.html' with form=form %}

                        <div>
                            <div class="card mb-4" id="tabela-pedidos">
                              <div class="card-header">
                                  <div>
                                      <i class="fas fa-user-tie"></i>
                                      Clientes cadastrados
                                  </div>
                              </div>
                              <div class="card-body">
                                  <table id="datatablesSimple2">
                                      <thead>
                                          <tr>
                                            <th>Nome</th>
                                            <th>Telefone</th>
                                            <th>E-mail</th>
                                            <th>CPF</th>
                                            <th>Endereço</th>
                                            <!-- <th>Data Agendamento</th> -->
                                            <!-- <th>Pagamento</th> -->
                                            <th>Ações</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                          <tr>
                                            <th>Nome</th>
                                            <th>Telefone</th>
                                            <th>E-mail</th>
                                            <th>CPF</th>
                                            <th>Endereço</th>
                                            <!-- <th>Data Agendamento</th> -->
                                            <!-- <th>Pagamento</th> -->
                                            <th>Ações</th>
                                          </tr>
                                      </tfoot>
                                      <tbody>
                                          {% for dados_cliente in dados_clientes %}
                                              <tr href="{% url 'editar_cliente' dados_cliente.id %}">
                                                  <td>{{ dados_cliente.nome }}</td>
                                                  <td>{{ dados_cliente.telefone }}</td>
                                                  <td>{{ dados_cliente.email_1 }}</td>
                                                  <td>{{ dados_cliente.cpf }}</td>
                                                  <td>{{ dados_cliente.endereco }}</td>
                                                  <!-- <td>{{ dados_cliente.data_1 }}</td> -->
                                                  <!-- <td>{{ dados_cliente.metodo_pagamento }}</td> -->
                                                  <td>
                                                    <div class="action-link">
                                                        <a data-bs-toggle="modal" data-bs-target="#infoModal{{ dados_cliente.id }}" title="Informação do Cliente">
                                                            <i class="fa-solid fa-eye"></i>
                                                        </a>
                                                        <a data-bs-toggle="modal" data-bs-target="#editModal{{ dados_cliente.id }}" title="Editar cliente" >
                                                          <i class="fas fa-pen"></i>
                                                        </a>
                                                        <!-- <a title="Editar cliente" href="{% url 'editar_cliente' dados_cliente.id %}">
                                                            <i class="fas fa-pen"></i>
                                                        </a> -->
                                                        <a data-bs-toggle="modal" data-bs-target="#deleteModal{{ dados_cliente.id }}" title="Excluir Cliente">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </a>
                                                    </div>
                                                  </td>
                                                </a>
                                              </tr>

                                              {% include 'editar-cliente.html' with form=dados_cliente.form %}

                                              {% include 'delete-modal.html' %}

                                              {% include 'info-cliente.html' %}

                                          {% endfor %}
                                          
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </div>
                </main>
                
                {% include 'includes/footer.html' %}

            </div>
        </div>

        <!-- <script>
            //Script JavaScript que faz a abertura e fechamento de modal
            var modal = document.getElementById("modal-add-customer");
            var btn = document.getElementById("myBtn");
          
            btn.onclick = function() {
                modal.style.display = "flex";
                setTimeout(function() {
                modal.style.opacity = 1;
                }, 10);
            }
          
            function closeModal() {
                modal.style.opacity = 0;
                setTimeout(function() {
                modal.style.display = "none";
                }, 400); // Tempo da transição em milissegundos
            }
          
            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal();
                }
            }
               
        </script> -->

  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
