<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Minhas conversas - Ajudai</title>
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <script src="https://use.fontawesome.com/releases/v6.0.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    </head>
    <body>

      <div class="chat-container">
        <div class="menu">
          <!-- Conteúdo do menu lateral -->
          <div class="logo-div">
            <a href="{% url 'meus-chatbots' %}">
              <img
              class="logo"
              src="{% static 'image/logo-branco-simples.svg' %}"
              alt="Logotigo ajudai"
              />
            </a>
          </div>
          <div class="menu-icons">
            <a href="{% url 'dashboard' %}" title="Home">
              <div class="icons-div">
                <i class="fas fa-home" id="icones-menu"></i>
              </div>
            </a>
            <a href="{% url 'pedidos-realizados' %}" title="Pedidos realizados">
              <div class="icons-div">
                <i class="fas fa-sticky-note" id="icones-menu"></i>
              </div>
            </a>
            <a href="{% url 'meus-chatbots' %}" title="Meus chatbos">
              <div class="icons-div">
                <i class="fas fa-robot" id="icones-menu"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="contacts">
          <!-- Lista de contatos disponíveis -->
          <h2>Meus clientes</h2>
          <ul>
            {% for conversa in conversas %}
            <li id="contact-{{ conversa.id }}" onclick="toggleDivBackground(this)">
              <div class="conteudo-contato">

                <div style="display: flex;">
                  <div>
                    <img
                    class="logo"
                    src="{% static 'image/user-default.png' %}"
                    alt="Logotigo ajudai"
                    />
                  </div>
                  <div class="conteudo-texto-contato">
                    <p class="texto-contato"><strong>{{ conversa.company_client_number }}</strong></p>
                    <p class="texto-contato">Status: {{ conversa.status_da_conversa }}</p>
                  </div>  
                </div>

                <div class="texto-tempo-div">
                  <p class="texto-tempo">{{ conversa.time }}</p>
                  <div style="display: flex; justify-content: center;">
                    <div class="notification-dot"></div>
                  </div>
                </div>

              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="defaultText">
          <h1>Hey, {{ user.username }}!</h1>
          <img class="chat-img" src="{% static 'image/doodleChat.svg' %}" alt="Doodle ajudai chat">
          <h4 class="subtitulo-welcome">Escolha um cliente para ver o trabalho do seu chatbot</h4>
      </div>
        
        <div class="side-conversation">
          {% for conversa in conversas %}
          <div class="conversation" id="conversation-{{ conversa.id }}">
            <!-- Diálogos com balões de conversa -->
            {% for message in conversa.context %}
              {% if not forloop.first %}
                  {% if message.role == "user" %}
                      <div class="dialog-client">
                          <div class="message-client">
                          <span class="sender">Cliente ({{ conversa.company_client_number }})</span>
                          <p>{{ message.content }}</p>
                          <span class="timestamp">10:00 AM</span>
                          </div>
                      </div>
                  {% elif message.role == "assistant" %}
                      <div class="dialog-response">
                          <div class="message-response">
                          <span class="sender">Chatbot ou Você</span>
                          <p>{{ message.content }}</p>
                          <span class="timestamp">10:05 AM</span> 
                          </div>
                      </div>
                  {% endif %}
              {% endif %}
            {% endfor %}
          
          </div>
          {% endfor %}

          <div class="input-reply">
            <form id="message-form" method="post">
              {% csrf_token %}
              <div class="message-input">
                  <input type="text" name="message" placeholder="Digite sua mensagem...">
                  <input type="hidden" id="conversa_id" name="conversa_id" value="{{ conversa.id }}">
                  <button class="botao-send"><i class="fa-solid fa-paper-plane" id="icon-send"></i></button>
                  <!-- <a class="botao-pause-chatbot"><i class="fa-solid fa-robot" id="icon-pause"></i></a> -->
                  <!-- <a class="botao-pause-chatbot"><i class="fa-solid fa-pause" id="icon-pause"></i></a>
                  <a class="botao-play-chatbot"><i class="fa-solid fa-play" id="icon-pause"></i></a> -->
                  <a class="botao-pause-chatbot" onclick="mostrarDropup()"><i class="fa-solid fa-play" id="icon-pause"></i></a>
                  <!-- <a class="botao-play-chatbot" onclick="mudarParaPlay()"><i class="fa-solid fa-play" id="icon-play"></i></a> -->

                  <div id="dropup" class="dropup">
                    <p>Você deseja mesmo <strong>pausar/voltar</strong> o chatbot para essa conversa?</p>
                    <div class="botoes-acao">
                      <button class="botao-concordar" onclick="mudarParaPlay()">Sim, tenho certeza!</button>
                      <button class="botao-cancelar" onclick="fecharDropup()">Cancelar</button>
                    </div>
                  </div> 
              </div>
           </form>
          </div>
        </div>



      </div>



    </body>
    
    <script src="{% static 'js/scriptsChat.js' %}"></script>

        <script>
          $(document).ready(function() {
              $("li[id^='contact-']").click(function() {
                  var id = $(this).attr('id').split('-')[1];
                  console.log("Clicked contact ID: ", id);
                  $(".conversation").hide();
                  $("#conversation-" + id).show();
                  $(".defaultText").hide(); // Oculta a mensagem "Escolha uma mensagem"
                  $(".side-conversation").css("display", "flex");
              });
              
              // Your IDE might show them as syntax errors, but they will be processed correctly by Django.
              {% if updated_conversa_id %}
                  $(".conversation").hide();
                  $("#conversation-{{ updated_conversa_id }}").show();
                  $(".defaultText").hide(); // Oculta a mensagem "Escolha uma mensagem"
              {% else %}
                  $(".conversation").hide();
                  $(".defaultText").show(); // Exibe a mensagem "Escolha uma mensagem"
              {% endif %}

              // Verifica a largura da tela
              var screenWidth = $(window).width();

              // Verifica se a largura da tela é menor que 768 pixels (ou o valor desejado)
              if (screenWidth < 768) {
                  $(".defaultText").hide(); // Oculta a mensagem "Escolha uma mensagem"
              }
              
          });
        </script>
      
        

      <script>
        function mostrarDropup() {
          document.getElementById("dropup").style.display = "block";
        }
        
        function mudarParaPlay() {
          fecharDropup();
          document.getElementById("icon-pause").style.display = "none";
          document.getElementsByClassName("botao-pause-chatbot")[0].style.display = "none";
          document.getElementById("icon-play").style.display = "inline-block";
          document.getElementsByClassName("botao-play-chatbot")[0].style.display = "inline-block";
          document.getElementById("dropup").style.display = "none";
        }

        function fecharDropup() {
          document.getElementById("dropup").style.display = "none";
        }

        window.onclick = function(event) {
          var dropup = document.getElementById("dropup");
          if (event.target === dropup) {
            fecharDropup();
          }
        };
        
      </script>


      <!-- Função que faz o destaque das conversas selecionadas -->
      <script>

        function toggleDivBackground(element) {
          // Obtém todos os elementos da lista
          var listaContatos = document.querySelectorAll('.conteudo-contato');
        
          // Remove a cor de fundo vermelha de todos os contatos
          listaContatos.forEach(function(contato) {
            contato.style.backgroundColor = '';
          });
        
          // Define a cor de fundo vermelha para o contato clicado
          element.querySelector('.conteudo-contato').style.backgroundColor = '#dddddd';
        }
        
      </script>

      <script>
        $(document).ready(function() {
          $("li[id^='contact-']").click(function() {
              var id = $(this).attr('id').split('-')[1];
              console.log("Clicked contact ID: ", id);
      
              // Oculta todas as conversas e mostra a conversa selecionada
              $(".conversation").hide();
              $("#conversation-" + id).show();
      
              // Restaura a cor de fundo dos contatos
              $(".conteudo-contato").css("background-color", "");
      
              // Define a cor de fundo do contato selecionado
              $(this).find('.conteudo-contato').css("background-color", '#dddddd');
      
              // Mostra a parte "side-conversation" e adiciona a classe "expanded"
              $(".defaultText").hide();
              $(".side-conversation").show().addClass("expanded");


          });
      });

      $(document).ready(function() {
        $("li[id^='contact-']").click(function() {
            var id = $(this).attr('id').split('-')[1];
            console.log("Clicked contact ID: ", id);
    
            // Oculta a lista de contatos
            $(".contacts").hide();
    
            // Oculta todas as conversas e mostra a conversa selecionada
            $(".conversation").hide();
            $("#conversation-" + id).show();
    
            // Mostra a parte "side-conversation" e adiciona a classe "expanded"
            $(".side-conversation").show().addClass("expanded");
        });
    
        // Resto do seu código JavaScript...
    });
    
      
      </script>
      
</html>