<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Minhas conversas - Ajudai</title>
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <script src="https://use.fontawesome.com/releases/v6.0.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v6.0.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    </head>
    <body>

      <div class="chat-container">

        <div class="menu">

          <!-- Conteúdo do menu lateral -->
          <div class="logo-div">
            <a href="{% url 'meus-chatbots' %}">
              <img
              id="logo-ajudai"
              class="logo"
              src="{% static 'image/logo-branco-simples.svg' %}"
              alt="Logotigo do Ajudai"
              />
            </a>
            
            <a id="back-button" title="Meus contatos" class="contato-button">
              <div class="icons-div">
                <i class="fa-solid fa-chevron-left" id="back-icon"></i>
              </div>
            </a>

            
            <!-- {% for conversa in conversas %} -->
            <div class="info-cliente" id="infoCliente-{{ conversa.id }}">
              <div>
                <img
                class="foto-perfil"
                id="perfil-cliente"
                src="{% static 'image/user-default.png' %}"
                alt="Foto perfil cliente"
                />
              </div>
           
                <div class="nome-cliente">
                  <p class="numero-cliente"><strong>{{ conversa.company_client_number }}</strong></p>
                  <p class="data-mensagem">{{conversa.time}}</p>
                </div>

                
                
              </div>
              <!-- {% endfor %} -->

          </div>


          <a id="mobileMenuButton" class="mobile-menu-button">
            <i style="color: #FFF;" class="fa-solid fa-ellipsis-vertical"></i>
          </a>

          <div id="mobileMenu" class="mobile-menu">
            <a id="mobile-icon" href="{% url 'meus-chatbots' %}" title="Meus chatbos">
              <div class="icons-div-mobile">
                <i class="fas fa-robot" id="icones-menu"></i>
                <p>Meus chatbots</p>
              </div>
            </a>

            <a id="mobile-icon" href="{% url 'dashboard' %}" title="Home">
              <div class="icons-div-mobile">
                <i class="fas fa-home" id="icones-menu"></i>
                <p>Dashboard</p>
              </div>
            </a>
            <a id="mobile-icon" href="{% url 'pedidos-realizados' %}" title="Pedidos realizados">
              <div class="icons-div-mobile">
                <i class="fas fa-sticky-note" id="icones-menu"></i>
                <p>Pedidos realizados</p>
              </div>
            </a>

          </div>

          <div class="menu-icons">
            <a title="Meus contatos" class="contato-button">
              <div class="icons-div">
                <i class="fa-regular fa-comments" id="icones-menu"></i>
              </div>
            </a>
            <!-- <a href="{% url 'dashboard' %}" title="Home"> -->
            <a href="{% url 'dashboard' %}" title="Home">
              <div class="icons-div">
                <i class="fas fa-home" id="icones-menu"></i>
              </div>
            </a>
            <a href="{% url 'pedidos-realizados' %}" title="Pedidos realizados">
              <div class="icons-div">
                <i class="fas fa-sticky-note" id="icones-menu"></i>
              </div>
            </a>
            <a href="{% url 'meus-chatbots' %}" title="Meus chatbos">
              <div class="icons-div">
                <i class="fas fa-robot" id="icones-menu"></i>
              </div>
            </a>

          </div>
        </div>

        <div class="contacts">
          <!-- Lista de contatos disponíveis -->
          <h2 style="margin-left: 10px">Meus clientes </h2>
          <div class="container-pesquisa">
            <div class="input-pesquisa">
              <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <input type="text" class="search-input" placeholder="Pesquisar contato...">
            </div>
            
            <a href="{% url 'minhas-conversas' %}?order={{ conversas_order }}" id="toggleOrder" class="btn btn-link fs-5">
              {% if conversas_order == 'asc' %}
              <!-- Ordenar pelo mais antigo -->
              <img
              class="icon-filter"
              src="{% static 'image/descending_icon.png' %}"
              alt="icone descendente ajudai"
              />
              {% else %}
              <!-- Ordenar pelo mais recente  -->
              <img
              class="icon-filter"
              src="{% static 'image/ascending_icon.png' %}"
              alt="icone ascendente ajudai"
              />
              {% endif %}
            </a>

          </div>
          <ul>
            {% for conversa in conversas %}
            <li id="contact-{{ conversa.id }}" onclick="toggleDivBackground(this)">
              <div class="conteudo-contato">

                <div style="display: flex;">
                  <div>
                    <img
                    class="logo"
                    src="{% static 'image/user-default.png' %}"
                    alt="Logotigo ajudai"
                    />
                  </div>
                  <div class="conteudo-texto-contato">
                    {% if conversa.client_name %}
                      <p class="texto-contato"><strong>{{ conversa.client_name }}</strong></p>
                    {% else %}
                      <p class="texto-contato"><strong>{{ conversa.company_client_number }}</strong></p>
                    {% endif %}
                    <p class="texto-contato">Status: {{ conversa.get_status_da_conversa_display }}</p>
                  </div>  
                </div>

                <div class="texto-tempo-div">
                  {% if data_atual == conversa.date %}
                    <p class="texto-tempo">{{ conversa.time }}</p>
                  {% else %}
                    <p class="texto-tempo">{{ conversa.date|date:"d/m/Y" }}</p>
                  {% endif %}
                  <div style="display: flex; justify-content: center;">
                    {% if not conversa.last_message_shown %}<div class="notification-dot"></div>{% endif %}
                  </div>
                </div>

              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="defaultText">
          <h1>Hey, {{ user.username }}!</h1>
          <img class="chat-img" src="{% static 'image/doodleChat.svg' %}" alt="Doodle ajudai chat">
          <h4 class="subtitulo-welcome">Escolha um cliente para ver o trabalho do seu chatbot</h4>
        </div>  
        
        <div class="side-conversation">
          {% comment %} AQUI IRÁ SER RENDERIZADA A CONVERSA ATUAL 
          QUANDO O USUÁRIO CLICAR EM UM CONTATO {% endcomment %}

          <div class="input-reply">
            <form id="message-form" method="post">
              {% csrf_token %}
              <div class="message-input">
                  <input type="text" name="message" id="message-input" placeholder="Mensagem">
                  <input type="hidden" id="conversa_id" name="conversa_id" value="{{ conversa.id }}">
                  <a class="botao-pause-chatbot"><i class="fa-solid fa-play" id="icon-pause"></i></a>
                  <button class="botao-send"><i class="fa-solid fa-paper-plane" id="icon-send"></i></button>
                  <!-- <a class="botao-send"><i class="fa-solid fa-paper-plane" id="icon-send"></i></a> -->
                  <!-- <a class="botao-play-chatbot" onclick="mudarParaPlay()"><i class="fa-solid fa-play" id="icon-play"></i></a> -->

                  <!-- <div id="dropup" class="dropup">
                    <p>Você deseja mesmo <strong>pausar/voltar</strong> o chatbot para essa conversa?</p>
                    <div class="botoes-acao">
                      <button class="botao-concordar">Sim, tenho certeza!</button>
                      <button class="botao-cancelar" onclick="fecharDropup()">Cancelar</button>
                    </div>
                  </div>  -->
              </div>
              <div class="message-display" id="message-display"></div>
           </form>
          </div>

        </div>

      </div>

    </body>
    
    <script src="{% static 'js/scriptsChat.js' %}"></script>

    <script>

      function mostrarDropup() {
        document.getElementById("dropup").style.display = "block";
      }

      function mudarParaPlay() {
        fecharDropup();
        document.getElementById("icon-pause").style.display = "none";
        document.getElementsByClassName("botao-pause-chatbot")[0].style.display = "none";
        document.getElementById("icon-play").style.display = "inline-block";
        document.getElementsByClassName("botao-play-chatbot")[0].style.display = "inline-block";
        document.getElementById("dropup").style.display = "none";
      }

      function fecharDropup() {
        document.getElementById("dropup").style.display = "none";
      }


      // Função que faz o destaque das conversas selecionadas 

      function toggleDivBackground(element) {
          // Obtém todos os elementos da lista
          var listaContatos = document.querySelectorAll('.conteudo-contato');

          // Remove a cor de fundo vermelha de todos os contatos
          listaContatos.forEach(function(contato) {
            contato.style.backgroundColor = '';
          });

          // Define a cor de fundo vermelha para o contato clicado
          element.querySelector('.conteudo-contato').style.backgroundColor = '#dddddd';
      }

      function toggleDivBackgroundAtRefresh(element) {
        // Obtém todos os elementos da lista
        var listaContatos = document.querySelectorAll('.conteudo-contato');

        // Remove a cor de fundo vermelha de todos os contatos
        listaContatos.forEach(function(contato) {
          contato.style.backgroundColor = '';
        });

        // Define a cor de fundo vermelha para o contato clicado
        var element = document.getElementById(element);
        if (element !== null) {
            element.querySelector('.conteudo-contato').style.backgroundColor = '#dddddd';
        }
      }

      function scrollToBottom(conversationId) {
            var conversationDiv = document.getElementById("conversation-" + conversationId);
            conversationDiv.scrollTop = conversationDiv.scrollHeight - conversationDiv.clientHeight;   
      }

      $(document).ready(function() {
          var activeConversaId = localStorage.getItem('activeConversaId') || null;

          console.log("Retrieved activeConversaId from localStorage:", activeConversaId);

          //mostra a conversa selecionada na lateral
          $("li[id^='contact-']").click(function() {
              activeConversaId = $(this).attr('id').split('-')[1];
              var id = $(this).attr('id').split('-')[1];
              console.log("Clicked contact ID: ", id);
              //$(".conversation").hide();
              //$(".info-cliente").hide();
              //$("#conversation-" + id).show();
              $(".defaultText").hide();
              $(".side-conversation").css("display", "flex");

              var side_conversation = document.getElementsByClassName('side-conversation')[0];
              //Remove old conversation
              side_conversation.removeChild(side_conversation.firstChild);

              // Criando uma nova div para a conversa
              var conversa = document.createElement('div');
              conversa.classList.add('conversation');
              conversa.id = 'conversation-' + activeConversaId;

              // Adicionando div no lado direito da tela
              side_conversation.prepend(conversa);

              localStorage.setItem('activeConversaId', activeConversaId);

              var updateUrl = '/update_last_message_shown/' + activeConversaId + '/';

              //avisa o bd sobre a mensagem mostrada
              $.ajax({
                  url: updateUrl,
                  type: 'POST',
                  data: {
                      'conversa_id': id,
                      'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
                  success: function(response) {
                      if (response.status == 'success') {
                          console.log('Last message shown updated successfully');
                          $("#contact-" + activeConversaId).find(".notification-dot").remove();
                      }
                  }
              });
              
              var get_conversa_url = '/get_chat/' + activeConversaId + '/';
              $.ajax({
                url: get_conversa_url,
                type: 'GET',
                success: function(response) {
                    if (response.status == 'success') {
                        // Update the side conversation with the data from the response
                       
                        var mensagens = response.data.mensagens;
                        var nome_do_cliente = response.data.nome_do_cliente;
                        var numero_do_cliente = response.data.numero_do_cliente;
                        var nome_do_chatbot = response.data.nome_do_chatbot;

                        $('#conversation-' + activeConversaId).html('');
                        mensagens.forEach(function(message) {
                            var message_html = '';
                            if (message.role == 'user') {
                                if (!nome_do_cliente) {
                                  nome_do_cliente = numero_do_cliente
                                  
                                }
                                message_html = `
                                  <div class="dialog-client">
                                    <div class="message-client">
                                      <span class="sender">
                                        Cliente (${nome_do_cliente})
                                      </span>
                                      <p>${message.content}</p>
                                      <span class="timestamp">
                                        ${message.date} ${message.time} 
                                      </span>
                                    </div>
                                  </div>
                                `;
                
                            } else if (message.role == 'assistant') {
                                message_html = `
                                <div class="dialog-response">
                                  <div class="message-response">
                                    <span class="sender">
                                      ${nome_do_chatbot} ou Você
                                    </span>
                                    <p>
                                      ${message.content}
                                    </p>
                                    <span class="timestamp">
                                      ${message.date} ${message.time} 
                                    </span>
                                  </div>
                                </div>`;
                            }
                            $('#conversation-' + activeConversaId).append(message_html);
                            
                        });
                    }
                    scrollToBottom(activeConversaId);
                }
              });
          });
          $('#contact-' + activeConversaId).trigger('click');
          //envia nova mensagem
          $("#message-form").submit(function(event) {
              event.preventDefault();
              $("#conversa_id").val(activeConversaId);
              var messageContent = $("input[name='message']").val(); // get the message content
              var formData = $(this).serialize();

              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: formData,
                  success: function(response) {
                      // Append new message to conversation
                      var newMessage = $("<div>").addClass("dialog-response").html(`
                          <div class="message-response">
                              <span class="sender">Chatbot ou Você</span>
                              <p>${messageContent}</p>
                              <span class="timestamp">${response.timestamp}</span>
                          </div>
                      `);
                      $("#conversation-" + activeConversaId).append(newMessage);
                      // Clear input field
                      $("input[name='message']").val("");
                      scrollToBottom(activeConversaId);
                      location.reload();
                  }
              });
          });

          {% if updated_conversa_id %}
              $(".conversation").hide();
              $(".info-cliente").hide();
              $("#conversation-{{ updated_conversa_id }}").show();
              $(".defaultText").hide();
              $(".side-conversation").css("display", "flex");
          {% else %}
              $(".conversation").hide();
              $(".info-cliente").hide();
              $(".defaultText").show();
              $(".side-conversation").css("display", "none");
          {% endif %}
    
        $(".botao-pause-chatbot").click(function() {
          console.log("Sending AJAX request with id:", activeConversaId);

          $.ajax({
            url: '{% url "toggle_chatbot" %}',
            type: 'POST',
            data: {
              'conversa_id': activeConversaId,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
              if (response.status == 'success') {
                console.log('XXXXXXXXXXXXXXXXXXXX');
                localStorage.setItem('activeConversaId', activeConversaId);
                location.reload();
              }
            }
          });
        });

      //make a POST request to the server every 30 seconds to check for new messages
      setInterval(function() {
            $.ajax({
                url: "{% url 'check_for_new_messages_to_refresh' %}",
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.should_refresh) {
                        console.log("Setting activeConversaId in localStorage:", activeConversaId);
                        localStorage.setItem('activeConversaId', activeConversaId);
                        location.reload();
                    }
                }
            });
        }, 30000); 

        //mostra antiga conversa ativa em caso de reload

       // if (activeConversaId !== null && activeConversaId !== undefined && activeConversaId !== "")  {
         //     console.log("Trying to show conversation with ID: ", activeConversaId);
           //   $(".conversation").hide();
             // $("#conversation-" + activeConversaId).show();
            //  $(".defaultText").hide();
             // $(".side-conversation").css("display", "flex");
              //toggleDivBackgroundAtRefresh('contact-' + activeConversaId);
            //  scrollToBottom(activeConversaId);
          //} else {
            //  $(".conversation").hide();
            //  $(".defaultText").show();
            //  $(".side-conversation").css("display", "none");
         // }


          if (activeConversaId !== null && activeConversaId !== undefined && activeConversaId !== "") {
            console.log("Trying to show conversation with ID: ", activeConversaId);
            $(".conversation").hide();
            $(".info-cliente").hide();
            $("#conversation-" + activeConversaId).show();
            $(".defaultText").hide();
            
            // Verificar se a largura da janela é menor que 768 pixels (um valor comum para telas de celular)
            if (window.innerWidth < 768) {
                $(".side-conversation").css("display", "none");
            } else {
                $(".side-conversation").css("display", "flex");
            }
            
            toggleDivBackgroundAtRefresh('contact-' + activeConversaId);
            scrollToBottom(activeConversaId);
        } else {
            $(".conversation").hide();
            $(".info-cliente").hide();
            $(".defaultText").show();
            
            // Verificar se a largura da janela é menor que 768 pixels (um valor comum para telas de celular)
            if (window.innerWidth < 768) {
                $(".side-conversation").css("display", "none");
            } else {
                $(".side-conversation").css("display", "flex");
            }
        }
      
      });
    </script>

    <!------------------- Scripts frond-end: ------------------>

    <script>
      // Função para rolar para a parte inferior
      function scrollToBottom2() {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: 'auto'
        });
      }
  
      // Verifique a largura da tela e role para a parte inferior se for menor que um determinado ponto de interrupção (por exemplo, 768 pixels)
      if (window.innerWidth <= 768) {
        scrollToBottom2();
      }
    </script>

    <script>
      // Obtenha o botão e o dropdown
      const mobileMenuButton = document.getElementById("mobileMenuButton");
      const mobileMenu = document.getElementById("mobileMenu");

      // Adicione um ouvinte de eventos ao botão
      mobileMenuButton.addEventListener("click", (event) => {
        // Toggle (alternar) a classe "active" no botão para mostrar/ocultar o dropdown
        mobileMenuButton.classList.toggle("active");
        
        // Impedir que o clique no botão se propague para o documento
        event.stopPropagation();
      });

      // Adicione um ouvinte de eventos ao documento para fechar o menu ao clicar fora dele
      document.addEventListener("click", (event) => {
        const isClickInsideMenu = mobileMenu.contains(event.target);
        const isClickOnButton = event.target === mobileMenuButton;

        if (!isClickInsideMenu && !isClickOnButton) {
          // Se o clique não estiver dentro do menu nem no botão, feche o menu
          mobileMenuButton.classList.remove("active");
        }
      });

      // Evite que o clique no menu feche o menu (opcional)
      mobileMenu.addEventListener("click", (event) => {
        event.stopPropagation();
      });

    </script>

    <script>
      $(document).ready(function() {
        $("li[id^='contact-']").click(function() {
            var id = $(this).attr('id').split('-')[1];
            console.log("Clicked contact ID: ", id);

            // Oculta todas as conversas e mostra a conversa selecionada
            $(".conversation").hide();
            $(".info-cliente").hide();
            $("#conversation-" + id).show();
    
            // Restaura a cor de fundo dos contatos
            $(".conteudo-contato").css("background-color", "");
    
            // Define a cor de fundo do contato selecionado
            $(this).find('.conteudo-contato').css("background-color", '#dddddd');
    
            // Mostra a parte "side-conversation" e adiciona a classe "expanded"
            $(".defaultText").hide();
            $(".side-conversation").show().addClass("expanded");
        
        });
    });

    
    $(document).ready(function() {
    $("li[id^='contact-']").click(function() {
        var id = $(this).attr('id').split('-')[1];
        console.log("Clicked contact ID: ", id);

        // Verifica a largura da tela
        var screenWidth = $(window).width();

        // Se a largura da tela for menor que 768 pixels (ou o valor desejado),
        // a funcionalidade será ativada
        if (screenWidth < 768) {
            // Oculta a lista de contatos
            $(".contacts").hide();

            // Oculta todas as conversas e mostra a conversa selecionada
            $(".conversation").hide();
            $(".info-cliente").hide();
            $("#conversation-" + id).show();
            //Insere o número de telefone do cliente no topMenu
            $("#infoCliente-" + id).show();
            $('#logo-ajudai').hide();
            $('#back-button').show();

            $(this).find('.conteudo-contato').css("background-color", '#fff');

            // Mostra a parte "side-conversation" e adiciona a classe "expanded"
            $(".side-conversation").show().addClass("expanded");
        } 
      });
      
    });

    
    
    </script>

    <script>
      $(document).ready(function() {

        $('#back-button').hide();
        $('.info-cliente').hide();
        
        // Evento de clique no botão "Meus contatos"
        $("a[title='Meus contatos']").click(function() {
          // Oculta a tela de conversação (.side-conversation)
          $(".side-conversation").hide();
          // Mostra a tela de contatos (.contacts)
          $(".contacts").show();
          $('#logo-ajudai').show();
          $('#back-button').hide();
          $('.info-cliente').hide();
        });
      });
    </script>
    
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        // Função para verificar se a tela é de um dispositivo móvel
        function isMobile() {
          return window.innerWidth <= 768; // Ajuste esse valor conforme necessário para definir o limite entre dispositivos móveis e desktop
        }
      
        // Função para aplicar o estilo à side-conversation
        function setSideConversationDisplay() {
          var sideConversation = document.querySelector('.side-conversation');
          if (sideConversation && isMobile()) {
            sideConversation.style.display = 'none';
          }
        }
      
        // Verifique o tamanho da tela na inicialização da página
        setSideConversationDisplay();
      
        // Verifique o tamanho da tela ao redimensionar a janela
        window.addEventListener('resize', setSideConversationDisplay);
      });
      
    </script>



</html>