<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Minhas conversas - Ajudai</title>
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    </head>
    <body>

      <div class="chat-container">
        <div class="menu">
          <!-- Conteúdo do menu lateral -->
          <div class="logo-div">
            <a href="{% url 'meus-chatbots' %}">
              <img
              class="logo"
              src="{% static 'image/logo-branco-simples.svg' %}"
              alt="Logotigo ajudai"
              />
            </a>
          </div>
          <div class="menu-icons">
            <a href="{% url 'meus-chatbots' %}">
              <div class="icons-div">
                <i class="fas fa-home" id="icones-menu"></i>
              </div>
            </a>
            <div class="icons-div">
              <i class="fas fa-comments" id="icones-menu"></i>
            </div>
          </div>
        </div>
        <div class="contacts">
          <!-- Lista de contatos disponíveis -->
          <h2>Meus clientes</h2>
          <ul>
            {% for conversa in conversas %}
            <li id="contact-{{ conversa.id }}">
              <div class="conteudo-contato">

                <div style="display: flex;">
                  <div>
                    <img
                    class="logo"
                    src="{% static 'image/user-default.png' %}"
                    alt="Logotigo ajudai"
                    />
                  </div>
                  <div class="conteudo-texto-contato">
                    <p class="texto-contato"><strong>{{ conversa.company_client_number }}</strong></p>
                    <p class="texto-contato">Status: {{ conversa.status_da_conversa }}</p>
                  </div>  
                </div>

                <div class="texto-tempo-div">
                  <p class="texto-tempo">{{ conversa.time }}</p>
                </div>

              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="defaultText">
          <h1>Hey, {{ user.username }}!</h1>
          <img class="chat-img" src="{% static 'image/doodleChat.svg' %}" alt="Doodle ajudai chat">
          <h4 class="subtitulo-welcome">Escolha um cliente para ver o trabalho do seu chatbot</h4>
      </div>
        
        <div class="side-conversation">
          {% for conversa in conversas %}
          <div class="conversation" id="conversation-{{ conversa.id }}">
            <!-- Diálogos com balões de conversa -->
            {% for message in conversa.context %}
              {% if not forloop.first %}
                  {% if message.role == "user" %}
                      <div class="dialog-client">
                          <div class="message-client">
                          <span class="sender">Cliente ({{ conversa.company_client_number }})</span>
                          <p>{{ message.content }}</p>
                          <span class="timestamp">10:00 AM</span>
                          </div>
                      </div>
                  {% elif message.role == "assistant" %}
                      <div class="dialog-response">
                          <div class="message-response">
                          <span class="sender">Chatbot ou Você</span>
                          <p>{{ message.content }}</p>
                          <span class="timestamp">10:05 AM</span> 
                          </div>
                      </div>
                  {% endif %}
              {% endif %}
            {% endfor %}
          
          </div>
          {% endfor %}

          <div class="input-reply">
            <form id="message-form" method="post">
              {% csrf_token %}
              <div class="message-input">
                  <input type="text" name="message" placeholder="Digite sua mensagem...">
                  <input type="hidden" id="conversa_id" name="conversa_id" value="{{ conversa.id }}">
                  <button class="botao-send"><i class="fa-solid fa-paper-plane" id="icon-send"></i></button>
                  <a class="botao-pause-chatbot"><i class="fa-solid fa-robot" id="icon-pause"></i></a>
              </div>
           </form>
          </div>
        </div>



      </div>



    </body>
    
    <script src="{% static 'js/scriptsChat.js' %}"></script>


    <script>

      function scrollToBottom(conversationId) {
            var conversationDiv = document.getElementById("conversation-" + conversationId);
            conversationDiv.scrollTop = conversationDiv.scrollHeight;
      }

      $(document).ready(function() {
          // Initial value for activeConversaId can be null or the id of the first conversa
          var activeConversaId = null;
    
          //mostra a conversa selecionada na lateral
          $("li[id^='contact-']").click(function() {
              activeConversaId = $(this).attr('id').split('-')[1];
              var id = $(this).attr('id').split('-')[1];
              console.log("Clicked contact ID: ", id);
              $(".conversation").hide();
              $("#conversation-" + id).show();
              $(".defaultText").hide();
              $(".side-conversation").css("display", "flex");

              scrollToBottom(id);
          });
    
          //envia nova mensagem
          $("#message-form").submit(function(event) {
              event.preventDefault();
              $("#conversa_id").val(activeConversaId);
              var messageContent = $("input[name='message']").val(); // get the message content
              var formData = $(this).serialize();

              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: formData,
                  success: function(response) {
                      // Append new message to conversation
                      var newMessage = $("<div>").addClass("dialog-response").html(`
                          <div class="message-response">
                              <span class="sender">Chatbot ou Você</span>
                              <p>${messageContent}</p>
                              <span class="timestamp">${response.timestamp}</span>
                          </div>
                      `);
                      $("#conversation-" + activeConversaId).append(newMessage);
                      // Clear input field
                      $("input[name='message']").val("");
                      scrollToBottom(activeConversaId);
                  }
              });
          });

          {% if updated_conversa_id %}
              $(".conversation").hide();
              $("#conversation-{{ updated_conversa_id }}").show();
              $(".defaultText").hide();
              $(".side-conversation").css("display", "flex");
          {% else %}
              $(".conversation").hide();
              $(".defaultText").show();
              $(".side-conversation").css("display", "none");
          {% endif %}
    
        $(".botao-pause-chatbot").click(function() {
          var parentConversa = $(this).closest('.conversation');
          var conversaId = parentConversa.find("#conversa_id").val();
          
          $.ajax({
            url: '{% url "toggle_chatbot" %}',
            type: 'POST',
            data: {
              'conversa_id': conversaId,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
              if (response.status == 'success') {
                console.log('Chatbot toggled successfully');
                // You can add some visual feedback here
              }
            }
          });
        });
      });
    </script>
    
      
</html>