<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ tab_title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/password_reset.css' %}" />
    </head>
    <body>
        <div id="menu">
            <nav>
              <ul>
                {% if user and user.username %}
                  <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                {% else %}
                  <a href="{% url 'login' %}">Log In</a><br>
                {% endif %}
              </ul>
            </nav>
          </div>

    <h3>Redefinir senha</h3>
      <p>Digite seu endereço de e-mail para receber um link para redefinir sua senha.</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Redefinir</button>
      </form>

    </body>
</html>