<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Planos disponíveis - Ajudai</title>
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'includes/topMenu.html' %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {% include 'includes/sidebar.html' %}
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="cabecalho-planos">
                            <div class="texto-cabecalho">
                                <h2>Planos disponíveis</h2>
                                <h4>Você ainda não assinou nenhum plano.</h4>
                                <p>Escolha o melhor plano para <strong>Ajudar</strong> a alavancar seu negócio e aumentar suas vendas!</p>
                            </div>
                            <img class="doodle-plans" src="{% static 'image/doodle-plans.svg' %}" alt="doodle plans ajudai">
                        </div>
                        <div class="divider"></div>

                        <div class="titulo-plan">
                          <h3 style="margin-right: 3vw;">Fique por dentro dos nossos valores!</h3>
                          <button id="progress-prev" class="btn-planos" disabled><i class="fa-solid fa-arrow-left"></i></button>
                          <button id="progress-next" class="btn-planos"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>

                        <p style="width: 70%;">Aqui quanto <strong>mais</strong> você usa, <strong>menos</strong> você paga! Veja como funciona os valores por conversa do plano <strong>pós pago</strong> do Ajudai.</p>

                        <div id="progressx">
                          <div id="progress-barx"></div>
                          <ul id="progress-numx">
                            <li class="stepx activex">Standard</li>
                            <li class="stepx">Plus</li>
                            <li class="stepx">Premium</li>
                            <li class="stepx">VIP</li>
                          </ul>
                        </div>
                        
                        <div class="plan-container">

                            <!-- <div class="plan">
                                <img class="standard-img" src="{% static 'image/coin.png' %}" alt="standard plans ajudai">
                                <h3 class="title">Standard</h3>
                                <p class="price"><span class="moeda">R$</span>0,20</p>
                                <p class="cobranca-conversa">/Conversa</p>
                                <p class="condicao">+ R$559 (Implementação)</p>
                                <p class="resumo">Ideal para você que deseja automatizar seus pedidos de uma maneira mais inteligente</p>
                                <ul class="features">
                                    <li><strong>0 a 1500</strong> Conversas por mês</li>
                                    <li>Suporte AjudaAI 24 horas</li>
                                    <li>Acesso ilimitado ao software</li>
                                    <li>Suporte grátis</li>
                                    <li>Gestor de pedidos</li>
                            </ul>
                            <a href="#" class="select-plan">Assine já</a>
                        </div> -->

                            <div class="plan">
                                <img class="standard-img" src="{% static 'image/coin.png' %}" alt="standard plans ajudai">
                                <h3 class="title">Standard</h3>
                                <p class="price"><span class="moeda">R$</span>0,20<span class="moeda1">/Conversa</span></p>
                                <p class="conversas-qnt">Usando <strong>0 a 1500</strong><span class="moeda1">/mês</span></p>
                        </div>
                        
                        <!-- <div class="plan-popular">
                            <div class="pricing_best">
                                <span class="pricing_best-text">Popular +</span>
                            </div>
                            <img class="standard-img" src="{% static 'image/money.png' %}" alt="advanced plans ajudai">
                            <h3 class="title">Plus</h3>
                                <p class="price-pop"><span class="moeda">R$</span>0,18</p>
                                <p class="cobranca-conversa">/Conversa</p>
                                <p class="condicao">+ R$559 (Implementação)</p>
                                <p class="resumo">Essencial para quem deseja reduzir o tempo de atendimento ao cliente e aumentar suas conversões</p>
                                <ul class="features">
                                    <li><strong>1501 a 2500</strong> Conversas por mês</li>
                                    <li>Suporte AjudaAI 24 horas</li>
                                    <li>Acesso ilimitado ao software</li>
                                    <li>Suporte e Implementação grátis</li>
                                    <li>Gestor de pedidos</li>
                                </ul>
                                <a href="#" class="select-plan">Assine já</a>
                        </div> -->

                        <div class="plan">
                            <img class="standard-img" src="{% static 'image/money.png' %}" alt="advanced plans ajudai">
                            <h3 class="title">Plus</h3>
                            <p class="price-pop"><span class="moeda">R$</span>0,18<span class="moeda1">/Conversa</span></p>
                            <p class="conversas-qnt">Usando <strong>1501 a 2500</strong><span class="moeda1">/mês</span></p>
                        </div>

                            <!-- <div class="plan">
                                <img class="standard-img" src="{% static 'image/premium.png' %}" alt="premium plans ajudai">
                                <h2 class="title">Premium</h2>
                                <p class="price"><span class="moeda">R$</span>0,16</p>
                                <p class="cobranca-conversa">/Conversa</p>
                                <p class="condicao">+ R$559 (Implementação)</p>
                                <p class="resumo">Essencial para quem possui um grande volume de pedidos e deseja usar tecnologia de ponta para Ajudar no atendimento</p>
                                <ul class="features">
                                    <li><strong>2501 a 4500</strong>Conversas por mês</li>
                                    <li>Suporte AjudaAI 24 horas</li>
                                    <li>Acesso ilimitado ao software</li>
                                    <li>Suporte grátis</li>
                                    <li>Gestor de pedidos</li>
                            </ul>
                                <a href="#" class="select-plan">Assine já</a>
                            </div>
                             -->

                            <div class="plan">
                                <img class="standard-img" src="{% static 'image/premium.png' %}" alt="premium plans ajudai">
                                <h2 class="title">Premium</h2>
                                <p class="price"><span class="moeda">R$</span>0,16<span class="moeda1">/Conversa</span></p>
                                <p class="conversas-qnt">Usando <strong>2501 a 4500</strong><span class="moeda1">/mês</span></p>
                            </div>



                            <!-- <div class="plan">
                                <img class="standard-img" src="{% static 'image/rocket.png' %}" alt="business vip plan ajudai">
                                <h2 class="title">Corporativo VIP</h2>
                                <p class="price"><span class="moeda">R$</span>0,12</p>
                                <p class="cobranca-conversa">/Conversa</p>
                                <p class="condicao">+R$559 (Implementação)</p>
                                <p class="resumo">Perfeito para empresas com alto volume de pedidos que buscam crescimento seguro e de qualidade.</p>
                                <ul class="features">
                                    <li><strong>4501 a 20000</strong> Conversas por mês</li>
                                    <li>Suporte AjudaAI 24 horas</li>
                                    <li>Acesso ilimitado ao software</li>
                                    <li>Suporte grátis</li>
                                    <li>Gestor de pedidos</li>
                            </ul>
                                <a href="#" class="select-plan">Assine já</a>
                            </div> -->

                            <div class="plan">
                                <img class="standard-img" src="{% static 'image/rocket.png' %}" alt="business vip plan ajudai">
                                <h2 class="title">Corporativo VIP</h2>
                                <p class="price"><span class="moeda">R$</span>0,12<span class="moeda1">/Conversa</span></p>
                                <p class="conversas-qnt">Usando <strong>4501 a 20000</strong><span class="moeda1">/mês</span></p>
                            </div>
                          </div>
                          <div class="secao-implementacao">
                            <div class="info-compra">
                              <h3>Taxa de implementação Ajudai</h3>
                              <p>Para a implementação do Chatbot Ajudai, nós cobramos um valor de <strong>R$559.</strong> 
                              Esse custo tem a finalidade de: </p>
                              <ul style="list-style: none; margin: 0; padding: 0">
                                <li style="margin: 10px 0;"><i class="fa-solid fa-pen-to-square" style="margin-right: 10px; width: 20px; height: auto;"></i>Customizar o Chatbot com as regras do seu estabelecimeto</li>
                                <li style="margin: 10px 0;"><i class="fa-solid fa-rotate" style="margin-right: 10px; width: 20px; height: auto;"></i>Sincronizar API do Whatsapp</li>
                                <li style="margin: 10px 0;"><i class="fa-solid fa-terminal" style="margin-right: 10px; width: 20px; height: auto;"></i>Desenvolver comandos para o Chatbot</li>
                                <li style="margin: 10px 0;"><i class="fa-regular fa-file" style="margin-right: 10px; width: 20px; height: auto;"></i>Adequar cardápio do restaurante (se houver)</li>
                                <li style="margin: 10px 0;"><i class="fa-solid fa-gear" style="margin-right: 10px; width: 20px; height: auto;"></i>Manutenção contra bugs</li>
                              </ul>
                            </div>
                            <div class="botao-assinatura">
                              <img style="width: 300px; height: auto;" src="{% static 'image/pagamento_ajudai_ilustration.svg' %}" alt="pagamento ajudai">
                              <button class="assinatura-btn">Assine já</button>
                              <p style="margin: 0; padding: 0; text-align: center; font-size: 12px">*A taxa de implementação será cobrado apenas <strong>uma vez</strong  > e deverá ser paga no primeiro mês de uso</p>
                            </div>
                          </div>
                          
                          <div class="divider"></div>

                          <h3>Faça o cálculo ideal para seu negócio</h3>
                          <p>Coloque o número de conversas no campo abaixo para fazer o cálculo exato do valor do nosso serviço</p>


                          <div class="calculadora">
                            <div class="calculadora-conversas">
                                <!-- <label for="conversas" class="label-calculadora">Quantidade de Conversas:</label> -->
                                <input type="number" id="conversas" min="0" placeholder="Digite o número de conversas..." class="input-calculadora">
                                <button id="calcular-btn" class="button-calculadora">Calcular<i class="fa-solid fa-calculator"></i></button>
                            </div>
                            
                            <div class="resposta-valores">
                                
                                <p><span id="quantidade-conversas-label">Para a quantidade de conversas de: </span></p>
                                <p class="quantidade-conversas"><span id="quantidade-conversas"></span></p>
                                <p class="mensagem-erro"><span class="mensagem-erro" id="mensagem-erro"></span></p>

                                <p><span id="valor-total-label">Seu investimento total mensal será: </span></p>
                                <p class="valor-total"><span id="valor-total"></span></p>
                                <p style="margin: 0; padding: 0; font-size: 12px">*Valor calculado segue a regra de preço dos planos acima</p>
                            </div>
                        </div>
                          
                          <div class="explain-conversation">
                            <h3>Como funciona a cobrança de uma conversa?</h3>
                            <p>Nós cobramos por conversa realizada: O custo é baseado no número de mensagens trocadas entre o cliente e o nosso chatbot. Cada vez que uma mensagem é enviada ou recebida, é contabilizada para fins de cobrança.</p>
                            <h3>O que é considerado uma conversa?</h3>
                            <p>É considerado uma conversa toda vez que algum cliente manda mensagem para nosso chatbot e ele responde até que um <strong>pedido é realizado</strong> ou em <strong>24 horas</strong> da conversa em andamento: Quando um cliente envia uma mensagem para o chatbot, inicia-se uma conversa. Essa conversa continua até que um pedido seja realizado ou até que 24 horas se passem desde o último contato.</p>
                            <p>Portanto, é contado como uma conversa quando o <strong>pedido é realizado</strong> ou quando passa <strong>24 horas da conversa</strong> aberta com nosso cliente: Uma conversa é considerada concluída quando um pedido é realizado pelo cliente. Nesse momento, a contagem é fechada. Além disso, se não houver um pedido realizado, a conversa será encerrada automaticamente após 24 horas do último contato. Após esse período, a conversa é considerada concluída para fins de cobrança.</p>
                            <p>Essa estrutura nos permite medir e cobrar de forma justa o uso do nosso chatbot, levando em consideração o engajamento e o tempo de interação com os clientes. Garantimos transparência e clareza no processo de contagem de conversas, proporcionando uma forma eficiente de precificação aos nossos clientes.</p>
                          </div>

                          <table class="tabela">
                            <thead class="head-tabela">
                              <tr>
                                <th class="left-table">Plano</th>
                                <th class="top-table-plan">Basic</th>
                                <th class="top-table-plan">Plus</th>
                                <th class="top-table-plan">Premium</th>
                                <th class="top-table-plan">Corporativo VIP</th>
                                <!-- <th class="top-table">Entenda os Valores</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="left-table">Conversas mensais</td>
                                <td class="top-table">0 - 1500</td>
                                <td class="top-table">1501 - 2500</td>
                                <td class="top-table">2501 - 4500</td>
                                <td class="top-table">4501 - 20000</td>
                                <!-- <td class="top-table"><a href="#" class="open-modal">Saiba mais</a></td> -->
                              </tr>
                              <!-- Adicione mais linhas conforme necessário -->
                            </tbody>
                        </table>

                        
                        
                        

                    </div>
                </main>
                {% include 'includes/footer.html' %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var inputConversas = document.getElementById("conversas");
                var calcularBtn = document.getElementById("calcular-btn");
                var quantidadeConversasLabel = document.getElementById("quantidade-conversas-label");
                var quantidadeConversasElement = document.getElementById("quantidade-conversas");
                var valorTotalLabel = document.getElementById("valor-total-label");
                var valorTotalElement = document.getElementById("valor-total");
                var messageError = document.getElementById("mensagem-erro");

                inputConversas.value = "0";
              
                inputConversas.addEventListener("keydown", function(event) {
                  if (event.key === "Enter") {
                    event.preventDefault();
                    calcularPrecificacao();
                  }
                });

                calcularPrecificacao();
              
                calcularBtn.addEventListener("click", function() {
                  calcularPrecificacao();
                });
              
                function calcularPrecificacao() {
                  var quantidadeConversas = parseInt(inputConversas.value);
                  var valorPrecificacao;
              
                  if (quantidadeConversas >= 0 && quantidadeConversas <= 1500) {
                    valorPrecificacao = 0.20;
                  } else if (quantidadeConversas >= 1501 && quantidadeConversas <= 2500) {
                    valorPrecificacao = 0.18;
                  } else if (quantidadeConversas >= 2501 && quantidadeConversas <= 4500) {
                    valorPrecificacao = 0.16;
                  } else if (quantidadeConversas >= 4501 && quantidadeConversas <= 20000) {
                    valorPrecificacao = 0.12;
                  } else {
                    valorPrecificacao = "N/A";
                  }
              
                  if (valorPrecificacao === "N/A") {
                    quantidadeConversasLabel.textContent = "Para a quantidade de conversas de: ";
                    messageError.textContent = "Valor indisponível para a quantidade de conversas inserida. Coloque um valor entre 1 e 20000"
                    valorTotalLabel.textContent = "Seu investimento total será: ";
                    valorTotalElement.textContent = "";
                  } else {
                    var valorTotal = (quantidadeConversas * valorPrecificacao).toFixed(2);
                    quantidadeConversasLabel.textContent = "Para a quantidade de conversas de: ";
                    quantidadeConversasElement.textContent = quantidadeConversas.toString();
                    messageError.textContent = "";
                    valorTotalLabel.textContent = "Seu investimento total será: ";
                    valorTotalElement.textContent = "R$" + valorTotal;
                  }
                }
              });
              
              
        </script>

  
        <script>
          const progressBar = document.getElementById("progress-barx");
          const progressNext = document.getElementById("progress-next");
          const progressPrev = document.getElementById("progress-prev");
          const steps = document.querySelectorAll(".stepx");
          let active = 1;

          document.addEventListener("DOMContentLoaded", () => {
            // Configurar o plano padrão
            active = 1;
            updateProgress();
            updateCardHighlight(0); // Destacar o plano padrão
          });
          

          progressNext.addEventListener("click", () => {
            active++;
            if (active > steps.length) {
              active = steps.length;
            }
            updateProgress();
            updateCardHighlight(active - 1);
          });

          progressPrev.addEventListener("click", () => {
            active--;
            if (active < 1) {
              active = 1;
            }
            updateProgress();
            updateCardHighlight(active - 1);
          });

          steps.forEach((step, index) => {
            step.addEventListener("click", () => {
              active = index + 1;
              updateProgress();
              updateCardHighlight(index); // Chamada à função para destacar o card correspondente
            });
          });

          const updateCardHighlight = (activeIndex) => {
            const planContainers = document.querySelectorAll(".plan-container .plan");
            planContainers.forEach((planContainer, index) => {
              if (index === activeIndex) {
                planContainer.classList.add("highlighted");
                planContainer.style.opacity = "1"; // Restaurar a opacidade completa
              } else {
                planContainer.classList.remove("highlighted");
                planContainer.style.opacity = "0.5"; // Reduzir a opacidade dos outros cards
              }
            });
          };

          const updateProgress = () => {
            steps.forEach((step, i) => {
              if (i < active) {
                step.classList.add("activex");
              } else {
                step.classList.remove("activex");
              }
            });
            progressBar.style.width = ((active - 1) / (steps.length - 1)) * 100 + "%";
            if (active === 1) {
              progressPrev.disabled = true;
            } else if (active === steps.length) {
              progressNext.disabled = true;
            } else {
              progressPrev.disabled = false;
              progressNext.disabled = false;
            }
          };

          // Atualize o progresso inicial
          updateProgress();

        </script>
    </body>
</html>
<!-- 
steps.forEach((step, index) => {
  step.addEventListener("click", () => {
    active = index + 1;
    updateProgress();
    updateCardHighlight(index); // Chamada à função para destacar o card correspondente
  });
}); -->