<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ tab_title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/register.css' %}" />
    </head>
    <body>
      <div class="container">
        <h1>Seja um membro do Ajudai! Registre-se</h1>
        <form method="post" action="{% url 'register' %}" class="inputs">
          {% csrf_token %}
          {{ form.as_p }}
          <p class="termos-de-uso">Ao criar a sua conta, você aceita nossos <a href="{% url 'termos_e_condicoes' %}">Termos de Uso</a> e <a href="{% url 'privacidade' %}">Política de Privacidade</a>.</p>
          <div class="botao-div">
            
            <input class="botao" type="submit" value="{{ registeButtonText }}">
          </div>
        </form>
        <div id="menu">
            <nav>
              <ul>

                {% if user and user.username %}
                  <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                {% else %}
                
                  <h2>Já é membro?
                    <a class="login-redirect" href="{% url 'login' %}">Log In</a><br>
                  </h2>
                {% endif %}
              </ul>
            </nav>
          </div>
        
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
      </div>

    </body>
</html>