<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ tab_title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/reset_password_sent.css' %}" />
    </head>
    <body>
      <div class="container">
        <div class="card">
          <img class="lock-icon" src="{% static 'image/reset-password-icon.png' %}" alt="reset-password-icon">
          <h3>Redefinição de senha enviada!</h3>
          <p>Enviamos um e-mail com instruções para definir sua senha, caso exista uma conta com o e-mail que você digitou. Você deve recebê-los em breve.</p>
          <p>Se você não receber um e-mail, certifique-se de inserir o endereço com o qual você se registrou e verifique sua pasta de spam.</p>
          <!-- <div id="menu">
             <nav>
               <ul>
                 {% if user and user.username %}
                   <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                 {% else %}
                   <a href="{% url 'login' %}">Log In</a><br>
                 {% endif %}
               </ul>
             </nav>
           </div> -->
        </div>
      </div>
 
<!-- 
        <div class="container">
          <div class="card">
            <img class="lock-icon" src="{% static 'image/email-icon.svg' %}" alt="Cadeado">
            <h3>Redefinição de senha enviada</h3>
            <p>Enviamos um e-mail com instruções para definir sua senha, caso exista uma conta com o e-mail que você digitou. Você deve recebê-los em breve.</p>
            <p>Se você não receber um e-mail, certifique-se de inserir o endereço com o qual você se registrou e verifique sua pasta de spam.</p>
            <div id="menu">
              <nav>
                <ul>
                  {% if user and user.username %}
                    <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
                  {% else %}
                    <a href="{% url 'login' %}">Log In</a><br>
                  {% endif %}
                </ul>
              </nav>
            </div> -->
          

          </div>
      </div>


    </body>
</html>