<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ tab_title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/resumo_pedido.css' %}" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
      <div class="container-center">
        <div class="container-pedido">
          <h1>{{ page_title }} nº {{pedido.id }}</h1>
          <p><strong>{{ label_status_pedido }}: </strong> {{ pedido.status_do_pedido }}</p>
          <p><strong>{{ label_numero_cliente_pedido }}: </strong>{{ numero_cliente_pedido }}</p>
          <p><strong>{{ label_resumo_pedido }}: </strong></p>
          <p>{{ pedido.resumo_do_pedido }}</p>
          <a class="botao-voltar" href="{% url 'pedidos-realizados' %}"><i style="margin-right: 5px;" class="fa-solid fa-arrow-left"></i>Voltar</a><br>
        </div>
      </div>

</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ tab_title }}</title>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="{% static 'image/logo-ajudai-circulo.png' %}">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/resumo_pedido.css' %}" />
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'includes/topMenu.html' %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">

                {% include 'includes/sidebar.html' %}

            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                      <div class="container-center">
                        <div class="container-pedido">
                          <h1 style="text-align: start; margin-bottom: 0">Resumo do Pedido -  nº {{ pedido.id }}</h1>
                          <div class="grid-container">
                            {% if not pedido.criado_manualmente %}
                              <div class="grid-item">
                                <p class="title-card">Nome do cliente</p>
                                {% if dados_cliente %}
                                  <p>{{ dados_cliente.nome }}</p>
                                {% else %}
                                  <p>Nome não coletado para esse pedido.</p>
                                {% endif %}
                              </div>
                              <div class="grid-item">
                                <p class="title-card">Número Whatsapp do cliente</p>
                                <p>{{ numero_cliente_pedido }}</p>
                              </div>
                              <div class="grid-item">
                                <p class="title-card">Status do Pedido</p>
                                <p>{{ pedido.status_do_pedido }}</p>
                              </div>
                              <div class="grid-item">
                                <p class="title-card">CPF do cliente</p>
                                {% if dados_cliente %}
                                <p>{{ dados_cliente.cpf }}</p>
                                {% else %}
                                  <p>CPF não coletado para esse pedido.</p>
                                {% endif %}
                              </div>
                              <div class="grid-item ">
                                <p class="title-card">Serviço solicitado</p>
                                <p>{{ itens_do_pedido }}</p>
                              </div>
                                                            <div class="grid-item">
                                <p class="title-card">Data de Agendamento</p>
                                <!-- <p>{{ taxa_de_entrega }}</p> -->
                                {% if dados_cliente %}
                                  <p>{{ dados_cliente.data_1 }}</p>
                                {% else %}
                                  <p>Data de agendamento não coletado para esse pedido.</p>
                                {% endif %}
                              </div>
                              {% if dados_cliente %}
                                <div class="grid-item">
                                  <p class="title-card">Endereço do cliente</p>
                                  <p>{{ dados_cliente.endereco }}</p>
                                </div>
                                <div class="grid-item">
                                  <p class="title-card">Método de pagamento</p>
                                  <p>{{ dados_cliente.metodo_pagamento }}</p>
                                </div>
                                {% else %}
                                <div class="grid-item">
                                  <p class="title-card">Endereço de entrega</p>
                                  <p>Não coletado para esse pedido.</p>
                                </div>
                                <div class="grid-item">
                                  <p class="title-card">Método de pagamento</p>
                                  <p>Não coletado para esse pedido.</p>
                                </div>
                              {% endif %}
                              <div class="grid-item">
                                <p class="title-card">Total do pedido</p>
                                <p>{{ valor_total_pedido }}</p>
                              </div>
                            {% endif %}
                         
                          <!-- <p style="margin: 0; padding: 0;"><strong>{{ label_status_pedido }}: </strong> {{ pedido.status_do_pedido }}</p>

                          <p style="margin: 0; padding: 0;"><strong>Itens do pedido</strong> 1x X-Egg - R$ 23,00</p>
                          <p style="margin: 0; padding: 0;"><strong>Total do pedido:</strong> R$ 23,00</p>
                          <p style="margin: 0; padding: 0;"><strong>Endereço de entrega:</strong> Rua Campos Sales, 2777, Vila Elizabeth - CEP: 13560-350</p>
                          <p style="margin-bottom: 20px; padding: 0;"><strong>Método de pagamento</strong>  Cartão de Débito</p> -->
                          <!-- <p><strong>{{ label_resumo_pedido }}: </strong></p>
                          <p style="margin-bottom: 3vh;">{{ pedido.resumo_do_pedido }}</p> -->
                        </div>
                        <div class="button-block"> 
                          <a class="botao-voltar" href="{% url 'pedidos-realizados' %}"><i style="margin-right: 5px;" class="fa-solid fa-arrow-left"></i>Voltar</a>
                          <a class="botao-ir-para-conversa" onclick="redirectToConversation('{{pedido.conversa.id}}')"><i style="margin-right: 5px;" class="fa-solid fa-comment"></i>Ir para conversa</a>
                        </div>  
                      </div>


                    </div>
                </main>
                
                {% include 'includes/footer.html' %}

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
    <script>
      // Recebe o ID a qual conversa a notificação se refere, e o ID da notificação
      function redirectToConversation(targetConversaId) {
        // Pega a conversa referente a notificação e define ela como conversa ativa
        fetch(`/get_chat/${targetConversaId}/`)
          .then(response => {
              if (response.status === 200) {
                  return response.json();
              } else {
                  console.error('Conversation does not exist.');
              }
          })
          .then(data => {
              if (data) {
                  // Data contains the response body as JSON
                  data = data.data;
                  var curent_conversation_id = data.id_conversa;
                  // Set the 'activeConversaId' in localStorage
                  localStorage.setItem('activeConversaId', curent_conversation_id);
                  // Redirect to '/minhas-conversas/' in there, the activeConversaId will be used to open the correct conversa
                  window.location.href = '/minhas-conversas/';
              }
          })
          .catch(error => {
              console.error('An error occurred while checking the conversation:', error);
          });
      }

    </script>


</html>
