<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ tab_title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ajudai_django_app/css/resumo_pedido.css' %}" />
</head>
<body>
    <div id="menu">
        <nav>
          <ul>
            {% if user and user.username %}
              <a href="{% url 'user_accounts' %}">{{ user.username }} (my account)</a><br>
            {% else %}
              <a href="{% url 'login' %}">Log In</a><br>
            {% endif %}
          </ul>
        </nav>
      </div>

    <h1>{{ page_title }}</h1>
    <p>{{ label_status_pedido }}: {{ pedido.status_do_pedido }}</p> 
    <p>{{ label_numero_cliente_pedido }}: {{ numero_cliente_pedido }}</p>
    <p>{{ label_resumo_pedido }}: {{ pedido.resumo_do_pedido }}</p>

</body>
</html>