{% extends "layout.html" %}
{% block content %}

<h1>{{ title_user_page }} {{ user.username }}</h1>
<p>{{ user_page_data_title }}</p>
<p><b>{{ userNameLabel }}</b>: {{ user.username }}</p>
<p><b>{{ nomeCompletoLabel }}</b>: {{ user.full_name }}</p>
<p><b>{{ emailLabel }}</b>: {{ user.email }}</p>
<p><b>{{ celularLabel }}</b>: {{ user.cell_phone }}</p>
<p><b>{{ empresaLabel }}</b>: {{ user.company_name }}</p>
<p><b>{{ segmentoLabel }}</b>: {{ user.segmento }}</p>
<p><b>{{ cargoLabel }}</b>: {{ user.cargo_atual}}</p>


<p><a href="{% url 'change_password' %}">{{ change_password_text }}</a></p>


<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" value="{{ LOGOUT_BUTTON_VALUE }}">
</form>

<form method="post" action="{% url 'delete_account' %}">
    {% csrf_token %}
    <input type="submit" class="red-button" value="{{ DELETE_ACCOUNT_BUTTON_VALUE }}" onclick="return confirm('{{ delte_account_confirm_message }}');">
</form>

{% endblock %}