{% load static %}


<footer class="py-4 bg-light mt-auto" id="footer">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright © 2023 Ajudai. Todos os direitos reservados.</div>
            <div>
                <a href="{% url 'privacidade' %}">Políticas de pricavidade</a>
                &middot;
                <a href="{% url 'termos_e_condicoes' %}">Termos de condição</a>
            </div>
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var data = new Date();
        var anoAtual = data.getFullYear();

        var copyrightElement = document.querySelector("#footer .text-muted");
        if (copyrightElement) {
            copyrightElement.innerHTML = "Copyright © " + anoAtual + " Ajudai. Todos os direitos reservados.";
        }
    });
</script>
