 <!-- <div class="modal-global" id="modal1">
    <div class="modal-content-global">
      <span class="close-modal-global">&times;</span>
      <h3>Informação de valores fevereiro</h3>
      <table class="tabela-modal">
        <tbody>
          <tr>
            <td class="strong-text"><strong>Plano atual</strong></td>
            <td>Plus</td>
          </tr>
          <tr>
            <td class="strong-text"></td>
            <td class="light-content">Desde 26 de janeiro de 2023</td>
          </tr>
          <tr>
            <td class="strong-text"><strong>Fechamento de fatura:</strong></td>
            <td>R$0,18/conversa</td>
          </tr>
          <tr>
            <td class="strong-text"></td>
            <td class="light-content">Em 26 de fevereiro de 2023</td>
          </tr>
          <tr>
            <td class="strong-text"><strong>Uso do chatbot:</strong></td>
            <td>2500/1879 (Conversas)</td>
          </tr>
          <tr>
            <td class="strong-text"></td>
          </tr>
          <tr>
            <td class="strong-text"><strong>Valor total calculado</strong></td>
            <td>R$338,22</td>
          </tr>
          <tr>
            <td class="strong-text"></td>
            <td class="light-content">O preço por conversa do seu plano atual é R$0,18</td>
          </tr>
        </tbody>
      </table>
      <p class="suporte-modal">Ainda ficou alguma dúvida?<a href="{% url 'contato' %}">Entre em contato</a></p>
    </div>
  </div>

    <div class="modal-global" id="modal2">
        <div class="modal-content-global">
        <span class="close-modal-global">&times;</span>
        <h3>Informação de valores março</h3>
        <table class="tabela-modal">
            <tbody>
            <tr>
                <td class="strong-text"><strong>Plano atual</strong></td>
                <td>Plus</td>
            </tr>
            <tr>
                <td class="strong-text"></td>
                <td class="light-content">Desde 26 de janeiro de 2023</td>
            </tr>
            <tr>
                <td class="strong-text"><strong>Fechamento de fatura:</strong></td>
                <td>R$0,18/conversa</td>
            </tr>
            <tr>
                <td class="strong-text"></td>
                <td class="light-content">Em 26 de fevereiro de 2023</td>
            </tr>
            <tr>
                <td class="strong-text"><strong>Uso do chatbot:</strong></td>
                <td>2500/1879 (Conversas)</td>
            </tr>
            <tr>
                <td class="strong-text"></td>
            </tr>
            <tr>
                <td class="strong-text"><strong>Valor total calculado</strong></td>
                <td>R$338,22</td>
            </tr>
            <tr>
                <td class="strong-text"></td>
                <td class="light-content">O preço por conversa do seu plano atual é R$0,18</td>
            </tr>
            </tbody>
        </table>
        <p class="suporte-modal">Ainda ficou alguma dúvida?<a href="{% url 'contato' %}">Entre em contato</a></p>
        </div>
    </div>  -->


    <div id="modal1-plano" class="modal-global">
      <div class="modal-content-global">
        <span class="close-modal-global">&times;</span>
        <h2>Modal 1 meu plano</h2>
        <p>Conteúdo do Modal 1</p>
      </div>
    </div>

  <div id="modal2-plano" class="modal-global">
      <div class="modal-content-global">
        <span class="close-modal-global">&times;</span>
        <h3>Informação de valores fevereiro</h3>
    <table class="tabela-modal">
      <tbody>
        <tr>
          <td class="strong-text"><strong>Plano atual</strong></td>
          <td>Plus</td>
        </tr>
        <tr>
          <td class="strong-text"></td>
          <td class="light-content">Desde 26 de janeiro de 2023</td>
        </tr>
        <tr>
          <td class="strong-text"><strong>Fechamento de fatura:</strong></td>
          <td>R$0,18/conversa</td>
        </tr>
        <tr>
          <td class="strong-text"></td>
          <td class="light-content">Em 26 de fevereiro de 2023</td>
        </tr>
        <tr>
          <td class="strong-text"><strong>Uso do chatbot:</strong></td>
          <td>2500/1879 (Conversas)</td>
        </tr>
        <tr>
          <td class="strong-text"></td>
          <!-- <td class="alert-content">Seu uso excedeu 143 conversas do contratado!</td> -->
        </tr>
        <tr>
          <td class="strong-text"><strong>Valor total calculado</strong></td>
          <td>R$338,22</td>
        </tr>
        <tr>
          <td class="strong-text"></td>
          <td class="light-content">O preço por conversa do seu plano atual é R$0,18</td>
        </tr>
      </tbody>
    </table>
    <p class="suporte-modal">Ainda ficou alguma dúvida?<a href="{% url 'contato' %}">Entre em contato</a></p>
      </div>
    </div>

  <div id="modal3-plano" class="modal-global">
      <div class="modal-content-global">
        <span class="close-modal-global">&times;</span>
        <h2>Modal 3 meu plano</h2>
        <p>Conteúdo do Modal 3</p>
      </div>
    </div>