{% load static %}

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <!-- <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a> -->
    <img class="logo" src="{% static 'image/logo-branco-deitado.svg' %}" alt="Logotigo ajudai">
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">

            <div class="notification-container">
                <div class="notification-icon" onclick="toggleNotificationMenu()">
                  <i class="fa-solid fa-bell"></i>
                  <span id="notification-count"></span>
                </div>
                <div class="notification-menu">
                  <ul id="notification-list"></ul>
                </div>
              </div>
              
            <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> -->
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'user_accounts' %}">Meu perfil</a></li>
                <!-- <li><a class="dropdown-item" href="#!">Activity Log</a></li> -->
                <li><hr class="dropdown-divider" /></li>
                <!-- <li><a class="dropdown-item" href="#!">Logout</a></li> -->
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button class="logout-button-dropdown" type="submit">Logout 
                   <i class='fa fa-sign-out'></i></button>
               </form>
            </ul>
        </li>
    </ul>
</nav>

<script>
function toggleNotificationMenu() {
  var menu = document.querySelector('.notification-menu');
  menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
}

function closeNotificationMenu(event) {
  var menu = document.querySelector('.notification-menu');
  var icon = document.querySelector('.notification-icon');

  // Verifica se o alvo do clique não está dentro do menu ou do ícone
  if (!menu.contains(event.target) && !icon.contains(event.target)) {
    menu.style.display = 'none';
  }
}

// Adiciona event listener para cliques no documento
document.addEventListener('click', closeNotificationMenu);
function toggleNotificationMenu() {
    var menu = document.querySelector('.notification-menu');
    menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
  }
  
  // Exemplo de adição de notificações à lista (pode ser alterado)
  var notificationList = document.getElementById('notification-list');
  const notifications = JSON.parse('{{ unread_notifications_dict|escapejs }}');

  for (var i = 0; i < notifications.length; i++) {
    var notification = document.createElement('li');
    notification.textContent = notifications[i].verb;
    notificationList.appendChild(notification);
  } 

  //Fazer contagem de notificações de acordo com as <li>'s

  function updateNotificationCount() {
    var notificationCount = document.getElementById('notification-count');
    var notificationList = document.getElementById('notification-list');
    var itemCount = notificationList.getElementsByTagName('li').length;
    notificationCount.textContent = itemCount;
  }
  
  document.addEventListener('click', closeNotificationMenu);
  // Exemplo de adição de notificações à lista (pode ser alterado)
  // Atualiza o contador de notificações inicialmente
  updateNotificationCount();
  
      
</script>