* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.chat-container {
  display: flex;
  height: 100vh;
}

.menu {
  flex: 0.3;
  background-color: #5C7AD3;
  /* padding: 20px; */

}

#icones-menu {
    width: 25px;
    height: 25px;
    color: #FFFFFF;
    margin-top: 20px; 
    width: 100%;
    cursor: pointer;
}

#icones-menu:hover {
    color: #f2f2f2;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.menu-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.menu-icons i {
  /* margin-bottom: 10px; */
  font-size: 24px;
  text-align: center;
}

.contacts {
  flex: 1.5;
  background-color: #e5e5e5;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}



.contacts ul {
    padding: 0;
    margin: 0;

}

.contacts li {
    list-style: none;
    margin: 0;
    text-align: start;
    /* border: 1px solid black; */
    padding: 10px 0;
    display: flex;

}

.texto-contato {
    margin: 0;
    font-size: 14px;
}

.texto-tempo {
    margin: 0;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
    color: #6c757d;
}

.conteudo-contato {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.conteudo-contato:hover {
    background-color: #f1f1f1;
}

.conteudo-texto-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conversation {
  flex: 4;
  background-color: #ffffff;
  padding: 20px;
  display: none;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 8vh;
}

.message-client {
  margin-bottom: 10px;
  background-color: #e5e5e5;
  border-radius: 10px;
  max-width: 45%;
  padding: 10px;
  position: relative;

}

.dialog-response {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.dialog-client {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.message-response {
    margin-bottom: 10px;
    background-color: #b5c7fd;
    border-radius: 10px;
    max-width: 45%;
    padding: 10px;
    position: relative;
}

.sender {
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: #777777;
  
  position: absolute;
  bottom: 5px;
  right: 5px;

}

.message-input {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;

  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.message-input input[type="text"] {
  flex: 1;
  /* padding: 10px; */
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.message-input .botao-send {
  padding: 10px 15px;
  /* margin-left: 10px; */
  background-color: #5C7AD3;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
}

.botao-pause-chatbot  {
    padding: 10px 10px;
    /* margin-left: 10px; */
    background-color: #ff9696;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.message-input .botao-send:active {
    background-color: #b5c7fd;
    border-style: none;
    outline: none;
    box-shadow: none;
}

.message-input .botao-send:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}



#icon-send {
    color: #f2f2f2;
}

#icon-pause {
    color: #000;
}

/* Estilização da barra de rolagem no Chrome e Safari */
::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
background-color: #6c757d;
opacity: 0.5;
border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #555;
}

/* Estilização da barra de rolagem no Firefox */
/* A partir do Firefox 64+ é necessário adicionar a classe "scrollbar" ao elemento pai */
.scrollbar {
scrollbar-width: thin;
scrollbar-color: #212D40 #f1f1f1;
}

.scrollbar::-webkit-scrollbar {
width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
background-color: #212D40;
/* border-radius: 5px; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
background-color: #555;
}