* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}

.chat-container {
  display: flex;
  height: 100vh;
}

.menu {
  width: 80px;
  min-width: 65px;
  max-width: 85px;
  width: 7vw;
  background-color: #5C7AD3;
  /* padding: 20px; */  

}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icones-menu {
    width: 25px;
    height: 25px;
    color: #FFFFFF;
    margin-top: 20px; 
    width: 100%;
    cursor: pointer;
    
}

#icones-menu:hover {
    color: #f2f2f2;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

.menu-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.menu-icons i {
  /* margin-bottom: 10px; */
  font-size: 24px;
  text-align: center;
}

.contacts {
  min-width: 350px;
  background-color: #FFFFFF;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  border-right: 1px solid #f2f2f2;
}

.contacts ul {
    padding: 0;
    margin: 0;

}

.contacts li {
    list-style: none;
    margin: 0;
    text-align: start;
    /* border: 1px solid black; */
    padding: 3px 0;
    /* display: flex; */

}

.texto-contato {
    margin: 0;
    font-size: 14px;
}



.texto-tempo {
    /* margin: 0; */
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
    color: #6c757d;
}

.notification-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00a884;

}

.conteudo-contato {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}


.conteudo-contato:hover {
    background-color: #f2f2f2;
}

.conteudo-texto-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.defaultText {
  width: 107%;
  padding-top: 20vh;
  text-align: center;
  background-color: #f1f1f1;
  display: none;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 8vh;
}

.chat-img {
  width: 300px;
  height: auto;
}

.conversation {
  /* flex: 4; */
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  display: none;
  /* flex-direction: column; */
  position: relative;
  overflow-y: scroll;
  height: 100%;
  /* padding-bottom: 10vh; */
}

.side-conversation {
  display: none;
  flex-direction: column;
  /* width: 68vw; */
  width: 100%;

}

.message-client {
  margin-bottom: 10px;
  background-color: #e5e5e5;
  border-radius: 10px;
  max-width: 45%;
  padding: 10px;
  position: relative;

}

.dialog-response {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.dialog-client {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.message-response {
    margin-bottom: 10px;
    background-color: #b5c7fd;
    border-radius: 10px;
    max-width: 45%;
    padding: 10px;
    position: relative;
}

.sender {
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: #777777;
  
  position: absolute;
  bottom: 5px;
  right: 5px;

}

.message-input {
  display: flex;
  
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.input-reply {
  border-top: 1px solid rgba(156, 156, 156, 0.1);
}


.message-input input[type="text"] {
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
}


.botao-send {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Define o formato redondo */
    background-color: #5C7AD3;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    cursor: pointer;
    border: none; /* Remove a borda padrão */

    padding: 0;
}

.botao-send:active {
    background-color: #b5c7fd;
    border-style: none;
    outline: none;
    box-shadow: none;
}

.botao-send:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}
.botao-pause-chatbot  {
    background-color: #ff9696;
    border-style: none;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding: 0;
}
.botao-play-chatbot  {
    background-color: #ff9696;
    border-style: none;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.botao-pause-chatbot:active {
    background-color: #f8b0b0;
    border-style: none;
    outline: none;
    box-shadow: none;
}


.botao-pause-chatbot:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}


#icon-send {
    color: #FFFFFF; /* Cor do ícone */
    font-size: 18px; /* Tamanho do ícone */
}

#icon-pause {
    color: #FFFFFF; /* Cor do ícone */
    font-size: 18px; /* Tamanho do ícone */
}



/* Estilização da barra de rolagem no Chrome e Safari */
::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
background-color: #6c757d;
opacity: 0.5;
border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #555;
}

/* Estilização da barra de rolagem no Firefox */
/* A partir do Firefox 64+ é necessário adicionar a classe "scrollbar" ao elemento pai */
.scrollbar {
scrollbar-width: thin;
scrollbar-color: #212D40 #f1f1f1;
}

.scrollbar::-webkit-scrollbar {
width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
background-color: #212D40;
/* border-radius: 5px; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
background-color: #555;
}



.dropup {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.dropup p {
  margin: 0;
}

.dropup button {
  margin-top: 10px;
}

.botao-play-chatbot {
  display: none;
}

.botao-concordar {
  border-radius: 5px;
  background-color: #5C7AD3;
  color: #FFFFFF;
  padding: 5px;
  border-style: none;
  cursor: pointer;
  margin-right: 10px;
}

.botao-cancelar {
  border-radius: 5px;
  background-color: #ff9696;
  color: #FFFFFF;
  padding: 5px;
  border-style: none;
  cursor: pointer;
}

.botao-cancelar:hover  {
  transform: scale(1.05);
}
.botao-concordar:hover  {
  transform: scale(1.05);
}

.botoes-acao {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/* 

.dropup {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.dropup p {
  margin: 0;
}

.dropup button {
  margin-top: 10px;
}

.botao-play-chatbot {
  display: none;
}

.botao-concordar {
  border-radius: 5px;
  background-color: #5C7AD3;
  color: #FFFFFF;
  padding: 5px;
  border-style: none;
  cursor: pointer;
  margin-right: 10px;
}

.botao-cancelar {
  border-radius: 5px;
  background-color: #ff9696;
  color: #FFFFFF;
  padding: 5px;
  border-style: none;
  cursor: pointer;
}

.botao-cancelar:hover  {
  transform: scale(1.05);
}
.botao-concordar:hover  {
  transform: scale(1.05);
}

.botoes-acao {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */


/* Estilos para a versão desktop (tamanhos de tela maiores que 780px) */
@media (min-width: 781px) {
  .contato-button {
    display: none;
  }
  .menu-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Restaure os estilos originais dos ícones do menu */
  .menu-icons i {
    font-size: 24px;
    text-align: center;
  }

  /* Esconda o botão de menu móvel */
  .mobile-menu-button {
    display: none;
  }

  /* Certifique-se de que o dropdown móvel esteja oculto */
  .mobile-menu {
    display: none;

  }

  .info-cliente {
    display: none;
  }


}



@media (max-width: 780px) {
  html body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* height: 100%; */
}

.conversation {
  padding: 11vh 10px 8vh 10px;

}

.message-client {
  max-width: 90%;
}
.message-response {
  max-width: 90%;
}

.chat-container {
  display: flex;
  flex-direction: column; 
  height: 100%;
}


.icons-div-mobile {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.icons-div-mobile:active {
  background-color: rgb(221, 221, 221);
}

#back-icon {
  color: #FFF; 
  font-size: 24px; 
  margin: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#back-icon:active {
  background-color: rgba(221, 221, 221, 0.466);
  border-radius: 50px;
  margin: 10px;
}

.icons

.icons-div-mobile p {
  margin: 0;
}


.menu-icons {
    display: none;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

.mobile-menu-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    align-items: center;
    display: flex;
}



/* Estilos para o dropdown de ícones */
.mobile-menu {
    display: none;
    position: absolute;
    top: 9vh; /* Ajuste a posição conforme necessário */
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    z-index: 99999;
    width: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos para os ícones do dropdown */
.mobile-menu a {
    color: #212D40;
    text-decoration: none;
    display: block;
    margin-bottom: 1vh;
}

.mobile-menu a:last-child {
  margin-bottom: 0;
}


/* Mostrar o dropdown quando o botão for clicado */
.mobile-menu-button.active + .mobile-menu {
    display: block;
}

.menu-icons i {
  font-size: 24px;
  text-align: center;
}

#icones-menu {
  margin-top: 0;
  width: 25px;
  margin-right: 5vw;
  color: #212D40;
}


.menu {
  background-color: #5C7AD3;
  padding: 10px; 
  width: 100%;
  height: 10vh;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
  position: fixed;
}

.contacts {
  flex: 1; 
  background-color: #FFFFFF;
  padding: 10px;
  border-right: 1px solid #f2f2f2;
  padding-top: 10vh;
}


.info-cliente {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.nome-cliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numero-cliente {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #212D40;
}

.data-mensagem {
  margin: -5px 0 ;
  padding: 0;
  font-size: 12px;
  color: #212D40;
}

.side-conversation {
  flex: 1; 
  display: none;
  flex-direction: column;
  scroll-behavior: smooth;
}

/* Adicione a classe "expanded" à "side-conversation" para expandi-la */
.side-conversation.expanded {
  flex: 1;
}

.message-input {
  z-index: 999999;
  position: fixed;
  bottom: 0;
  height: 8vh;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* padding: 10px 0px 10px 10px; */
}

.message-input input[type="text"] {
  flex: 7;
  font-size: 16px;
  background-color: #FFF;
  border-radius: 50px;
  padding: 10px;

}


.botao-send {
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin: 0 5px;
    padding: 0;
}

.botao-pause-chatbot  {
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    padding: 0;
}

.botao-pause-chatbot  {
    /* margin-left: 10px;
    margin-right: 10px; */
    flex: 1;
    margin: 0 5px;
}

#icon-send {
    color: #FFFFFF; /* Cor do ícone */
    font-size: 20px; /* Tamanho do ícone */
    
}    

#icon-pause {
    color: #FFFFFF; /* Cor do ícone */
    font-size: 20px; /* Tamanho do ícone */
}    


}

