.kanban {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  /* overflow-x: auto; */

}

.column-kanban {
  flex-basis: calc(25% - 20px);
  padding: 10px;
  /* min-width: 280px; */
}

.column-kanban:nth-child(1) ul {
  background-color: #F2F2F2;
}

    .column-kanban:nth-child(2) ul {
      background-color: #b5c7fd;
    }

.column-kanban:nth-child(3) ul {
  background-color: #ffc4c4;
}

.column-kanban:nth-child(4) ul {
  background-color: #caffc6;
}

.column-kanban p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.column-kanban ul {
  list-style-type: none;
  padding: 10px;
  /* background-color: #5C7AD3; */
  border-radius: 10px;
  box-shadow: 0 5px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  /* min-height: 100px; */
  height: 100%;
  max-height: 85vh; 
  overflow-y: auto;
}

    .title-column {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 3vh 0;
    }
    @media (min-width: 780px) {
    .titulo-kanban {
      display: none;
    }
  }

    @media (max-width: 780px) {
      .como-funciona {
        margin-top: 5vh;
      }

      .titulo-kanban {
        text-align: center;
        align-items: center;
        margin-top: 3vh;
      }
      
    .column-kanban ul {

      max-height: 100vh; 
      overflow-y: auto;
    }
    .title-column {
      padding: 0 0;
      margin-bottom: 5px;
    }
  }

.title-column p {
  margin: 0;
  text-align: center;
}

#icones-kanban {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

    .button-novo {
      width: 100%;
      border: 1px solid black;
      border-radius: 10px;
      background-color: transparent;
      display: none;
    }

    .card-kanban {
      background-color: #fff;
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 4px;
      cursor: grab;
      display: flex;
      flex-direction: column;
    }

    .text-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .text-container span {
      color: #212D40;
    }

    .delete-icon {
      color: #212D40;
      cursor: pointer;
    }

    .delete-icon:hover {
      transform: scale(1.1);
    }
    .delete-icon:active {
      transform: scale(1.1);
    }

    .dropdownDelete {
      /* background-color: #E6E6E6; */
      cursor: default;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      padding: 5px;
      margin: 5px 0;

    }

    .textoAviso {
      margin: 0;
      padding: 0;
      font-weight: normal !important;  
      text-align: start !important;
    }

    .botoesDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .botao-deletar {
      border: none;
      border-radius: 25px;
      background-color: #ffa0a0;
      width: 45%;
      transition: transform 0.1s ease;
    }

    .botao-deletar:hover {
      transform: scale(1.05);
    }

    .botao-voltar {
      border-radius: 25px;
      border: none;
      background-color: #E6E6E6;
      width: 45%;
      transition: transform 0.1s ease;
    }

    .botao-voltar:hover {
      transform: scale(1.05);
    }

    .fa-burger {
      color: #a8a8a8;
    }


    .fa-clock,
    .fa-calendar {
      color: #a8a8a8;
      margin-right: 3px;
    }

    .ver-pedido-link {
      text-decoration: none;
      background-color: #e6e6e6;
      border-radius: 5px;
      text-align: center;
      color: #000;
      transition: transform 0.1s ease;
      margin-top: 10px;
    }

    .ver-pedido-link:hover {
      color: #000;
      transform: scale(1.02);
    }

select {
  padding: 5px;
  background-color: #F2F2F2;
  border-style: none;
}

.card-count {
  background-color: #E0E0E0;
  padding: 0 8px;
  border-radius: 100px;
  margin-left: 5px;
}

.card-datetime {
  display: flex;
  flex-direction: column;
}

.card-kanban:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-kanban.dragging {
  opacity: 0.5;
}

.column-kanban.dropzone {
  border: 2px dashed #aaa;
  background-color: #f5f5f5;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .column-kanban {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}



.card-datetime {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
}

.icon-container,
.time-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}


.icon-container i,
.time-container i {
  margin-right: 5px;
}






