body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  }
  
  .container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
  }
  
  .container-pedido {
      background-image: url(../image/teste-book.jpg);
      background-size: cover;
      border-radius: 5px;
      padding: 20px 8%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .botao-voltar {
    border-radius: 15px;
    background-color: #5C7AD3;
    color: #FFFFFF;
    padding: 10px;
    border-style: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 3vh;
  }

  .botao-voltar:hover {
    transform: scale(1.05);
  }

  h1 {
    text-align: center;
  }

  p {
    font-size: 18px;
    color: #000;
  }


  