/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    font-family: 'Roboto', sans-serif;
}
body {
    background: #f6f5f7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
	background-color: #5C7AD3;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
    width: 100%;
}

.lock-icon {
    width: 70px;
    height: 70px;
}
h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}
p {
    font-size: 12px;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 500px;
    display: block;
}


label{
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    display: none;

}
button {
	border-radius: 20px;
	border: 1px solid #F58A07;
	background-color: #F58A07;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}
button:hover {
    transform: scale(1.04);
}

button:active {
	transform: scale(0.95);
    
}
button:focus {
	outline: none;
}


.texto-2 {
    margin: 20px 0;
    font-size: 16px;

}

.formulario {
    display: flex;
    flex-direction: column;
}
#menu {
    margin-top: 20px;
}
.botao-login {
    border-radius: 20px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    text-decoration: none;
}
.botao-login:hover {
    transform: scale(1.04);
}
.botoes {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 768px) {

    body {
    background: #5C7AD3;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        box-shadow: none;
        border: none;

    }
    button {
        width: 100%;

    }
    .botoes {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    input {
        background-color: #eee;
        border: none;
        padding: 12px 0px;
        margin: 8px 0;
        width: 100%;
        display: block;
        border-radius: 25px;
    }

    input:focus {
		outline: none !important;
		border:1px solid #5C7AD3;
		box-shadow: 0 0 1px #212D40;
	  }

    .formulario {
        width: 100%;
        
    }
    #id_email {
        width: 100%;
        
    }

    .texto-2 {
        text-align: center;
    }

    #menu {
        width: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botao-login {
        border-radius: 20px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        background-color: transparent;
        cursor: pointer;
        /* margin-top: 10px; */
        width: 100%;
        text-decoration: none;
        text-align: center;
    }

}